/* Start Variables */
:root {
    --main-color: #ff9800;
    --section-color: #161f53;
    --section-padding: 70px;
}
/* End Variables */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    /* scroll-behavior: smooth; */
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Start Grid Systeme */

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 567px) { /* Small Devices => Phones */
    .container {
        max-width: 530px;
    }
}
@media (min-width: 768px) { /* Medium Devices => Tablettes */
    .container {
        max-width: 720px;
    }
}
@media (min-width: 993px) { /* Desktop */
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) { /* Larg Screens */
    .container {
        max-width: 1170pxpx;
    }
}

/* End Grid Systeme */

.head-section {
    max-width: 450px;
    padding: 0 15px;
    margin: auto;
    margin-bottom: 60px;
    text-align: center;
}
.head-section h3 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
    margin-bottom: 30px;
    color: var(--main-color);
}
.head-section h3::before {
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 40%;
    background-color: var(--main-color);
}
.head-section p {
    color: #fff;
    line-height: 1.7;
}
@media (max-width: 767px) {
    .head-section h3 {
        font-size: 30px;
    }
    .head-section p {
        line-height: 1.5;
        font-size: 15px;
    }
    .head-section h3::before {
        top: 45px;
    }
}
/* Start Setting Bar */

.setting-bar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    transition: .5s;
}
.setting-bar.open {
    left: 0;
}
.setting-bar.box-shadow {
    box-shadow: 5px 0 10px rgb(0 0 0 / 20%);
}
.setting-bar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    right: -30px;
    top: 140px;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ddd #ddd transparent;
}
.setting-bar .icon i {
    display: block;
    padding: 10px;
    cursor: pointer;
}
.setting-bar .box {
    margin: 10px;
    padding: 15px;
    background-color: #ececec;
    text-align: center;
}
.setting-bar .box h4 {
    margin-bottom: 15px;
}
.setting-bar .box .colors {
    display: flex;
    justify-content: center;
    width: 100%;
}
.setting-bar .box .colors li {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #000;
    list-style: none;
    margin: 3px 5px;
    opacity: .5;
    cursor: pointer;
}
.setting-bar .box .colors li.active {
    opacity: 1;
}
.setting-bar .box .colors li:first-child {
    background-color: #ff9800;
}
.setting-bar .box .colors li:nth-child(2) {
    background-color: #ff5722;
}
.setting-bar .box .colors li:nth-child(3) {
    background-color: #4caf50;
}
.setting-bar .box .colors li:nth-child(4) {
    background-color: #009688;
}
.setting-bar .box .colors li:last-child {
    background-color: #ffeb3b;
}
.setting-bar .box .random-bg span {
    display: inline-block;
    color: #fff;
    background-color: #333;
    padding: 5px 10px;
    margin: 0 3px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    opacity: .5;
}
.setting-bar .box .random-bg span.active {
    opacity: 1;
}
.setting-bar .box button {
    padding: 7px 15px;
    background-color: rgb(235, 20, 20);
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
}
.setting-bar .box button:hover {
    background-color: rgb(207, 16, 16);
}

/* End Setting Bar */

/* Start Header */

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: rgba(17, 25, 71); */
    background-color: transparent;
    padding: 10px;
    z-index: 2;
}
header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    z-index: 1;
}
header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}
header .logo span {
    color: #fff;
}
header .links {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    header .links {
        display: none;
    }
}
header .links a {
    display: block;
    padding: 10px 0;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: .3s;
}
header .links a:hover,
header .links a.active {
    color: var(--main-color);
}
header .bars-icon {
    position: relative;
    display: none;
    align-items: center;
    color: var(--main-color);
}
@media (max-width: 991px) {
    header .bars-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
header .bars-icon i {
    cursor: pointer;
}
header .bars-icon i:hover {
    transform: scale(1.05);
    transition: .5s;
}
header .bars-icon i.open {
    display: block;
}
header .bars-icon i.close {
    display: none;
}
header .toggel-menu {
    width: 100%;
    height: calc(100vh);
    background-color: #090d27;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: -2;
    transition: 1s;
    transform: translateY(-100vh);
}
@media (min-width: 991px) {
    header .toggel-menu {
        display: none;
    }
}
header .toggel-menu.open {
    transform: translateY(0);
}
header .toggel-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    transition: .3s;
}
header .toggel-menu a:hover {
    transform: scale(1.5);
    color: var(--main-color);
}
header .toggel-menu a.active {
    color: var(--main-color);
}

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    min-height: 100vh;
    background-image: url("../images/landing/1.jpg");
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    background-position: left top;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .overly {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
}

.landing .landing-text {
    color: #fff;
    position: relative;
    z-index: 2;
    max-width: 450px;
    padding: 20px;
    text-align: center;
}
.landing .landing-text h1 {
    font-size: 35px;
}
.landing .landing-text h1 span {
    color: var(--main-color);
}
.landing .landing-text p {
    line-height: 1.7;
    font-size: 20px;
}
@media (max-width: 767px) {
    .landing .landing-text h1 {
        font-size: 27px;
        line-height: 1.4;
    }
    .landing .landing-text p {
        line-height: 1.5;
        font-size: 15px;
    }
}
/* End Landing */

/* Start About Us */

.about-us {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.about-us .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 991px) {
    .about-us .container {
        text-align: center;
        flex-direction: column;
    }
}
.about-us .text-about {
    padding: 20px;
    lighting-color: #ff5722;
}
.about-us .text-about h2 {
    position: relative;
    font-size: 40px;
    color: var(--main-color);
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .about-us .text-about h2::before {
        content: '';
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 40%;
        background-color: var(--main-color);
    }
    .about-us .text-about h2 {
        font-size: 30px;
    }
}
.about-us .text-about p {
    font-size: 17px;
    line-height: 1.7;
}
@media (max-width: 991px) {
    .about-us .text-about p {
        line-height: 1.5;
        font-size: 15px;
    }
}
.about-us .img-about {
    margin: 20px;
    max-width: 400px;
}
.about-us .img-about img {
    width: 100%;
}

/* End About Us */

/* Start Services */

.Services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-color);
    background-color: #0e0a5d;

}
.Services .prog-holder {
    display: flex;
    width: 80%;
    height: 30px;
    margin: auto;
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
}
@media (max-width: 991px) {
    .Services .prog-holder {
        width: 90%;
    }
}
.Services .prog-holder .head {
    margin: auto 15px;
    width: 100px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
}
@media (max-width: 991px) {
    .Services .prog-holder .head {
        width: 50px;
        font-size: 13px;
    }
}
.Services .prog-holder .prog {
    width: 100%;
    height: 30px;
    padding: 5px;
    overflow: hidden;
}
.Services .prog-holder .prog span {
    display: block;
    position: relative;
    height: 100%;
    background-color: var(--main-color);
    transition: 1s;
    border-radius: 5px;
}
.Services .prog-holder .prog span::after {
    content: attr(data-width);
    font-size: 10px;
    font-weight: bold;
    padding: 1px 3px;
    color: #000;
    background-color: #fff;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 3px;
}

/* End Services */

/* Start Gallery */

.gallery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.gallery .head-section p {
    color: #000;
}
.gallery .imgs-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.gallery .imgs-gallery .box {
    flex-basis: 100%;
    position: relative;
    transition: .3s;
}
@media (min-width: 768px) {
    .gallery .imgs-gallery .box {
    flex-basis: 48%;
    }
}
@media (min-width: 1199px) {
    .gallery .imgs-gallery .box {
    flex-basis: 32%;
    }
}
.gallery .imgs-gallery .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 30%);
    transition: 1s;
    display: none;
}
.gallery .imgs-gallery .box img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.popup-overly {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 1000;
}
.popup-box-img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 50%;
    background-color: #fff;
    z-index: 1001;
}
@media (max-width: 991px) {
    .popup-box-img {
        padding: 10px;
        width: 90%;
    }
}
.close-popup-span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #f62424;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    transition: .3s;
}
.close-popup-span:hover {
    background-color: #d31111;
}
.Open-see-more {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #f62424;
    cursor: pointer;
    text-decoration: none;
}

/* End Gallery */

/* Start Outline */

.outline {
    padding: var(--section-padding) 0;
    min-height: 600px;
    background-color: var(--section-color);
}
.outline .year-outline {
    position: relative;
    padding-top: 60px;
}
.outline .year-outline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--main-color);
}
.outline .year-outline h4 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    padding: 5px 7px;
    color: #222;
    border: 2px solid #222;
    border-radius: 5px;
    background-color: #fff;
    font-weight: bold;
}
.outline .year-outline:first-child h4 {
    top: 15px;
}
.outline .box-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}
@media (max-width: 991px) {
    .outline .box-content {
        justify-content: center;
    }
}
.outline .box-content::before {
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    top: 20px;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid var(--main-color);
    border-radius: 50%;
}
.outline .left {
    justify-content: start;
}
.outline .right {
    justify-content: end;
}
.outline .box-content .box {
    position: relative;
    width: 47%;
    padding: 15px;
    background-color: #efefef;
    border-radius: 10px;
}
@media (max-width: 991px) {
    .outline .box-content .box {
        width: 100%;
        text-align: center;
    }
}
.outline .left .box::before,
.outline .right .box::after {
    content: '';
    position: absolute;
    top: 18px;
    height: 0;
    width: 0;
    border-width: 12px;
    border-style: solid;
}
.outline .left .box::before {
    left: 100%;
    border-color: transparent transparent transparent #efefef;
}
.outline .right .box::after {
    right: 100%;
    border-color: transparent #efefef transparent  transparent;
}
@media (max-width: 991px) {
    .outline .left .box::before,
    .outline .right .box::after  {
        display: none;
    }
}
.outline .box-content .box h3 {
    margin-bottom: 15px;
}
.outline .box-content .box p {
    line-height: 1.6;
    color: #444;
}
/* End Outline */

/* Start Features */

.features {
    padding: var(--section-padding) 0;
    min-height: 600px;
}
.features .head-section p {
    color: #000;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(Auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.features .box {
    padding: 20px;
    text-align: center;
}
.features .box .icon i {
    font-size: 70px;
    color: var(--main-color);
}
.features .box h3 {
    margin: 20px 0;
}
.features .box p {
    color: #666;
    line-height: 1.7;
}

/* Start Features */

/* Start Contact Us */

.contact-us {
    padding: var(--section-padding) 0;
    min-height: 600px;
    background-color: var(--section-color);
}
.contact-us form {
    display: flex;
    justify-content: center;
    gap: 30px;
}
@media (max-width: 767px) {
    .contact-us form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
.contact-us form .left,
.contact-us form .right {
    flex: 1;
}
.contact-us form > div input,
.contact-us form .right textarea {
    width: 100%;    
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    caret-color: var(--main-color);
}
.contact-us form .left input:focus::placeholder,
.contact-us form .right textarea:focus::placeholder {
    opacity: 0;
    transition: .3s;
}
.contact-us form > div input:focus,
.contact-us form .right textarea:focus {
    outline: none;
}
.contact-us form .right textarea {
    min-height: 170px;
    resize: vertical;
}
.contact-us form .right input:last-child {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--main-color);
    opacity: 1;
    cursor: pointer;
}
.contact-us form .right input:focus {
    outline: none;
}
.contact-us form .right input:hover {
    opacity: .9;
}

/* Start Footer */
.footer {
    padding: 27px 10px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    background-color: rgb(10, 16, 53);
}
@media (max-width: 767px) {
    .footer {
        padding: 18px 10px;
        font-size: 15px;
    }
}
.footer a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color)
}
/* End Footer */